@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap");
* {
  border: none;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 36px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: none;
}
.header__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}
.header .nav__item-link {
  color: #FFFFFF;
}
.header .socials__item-link svg path {
  fill: #FFFFFF;
}
.header .socials__item-link svg rect {
  fill: #FFFFFF;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.nav__item-link {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

.langbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.bg-foto {
  background-image: url(../Images/derek-thomson-TWoL-QCZubY-unsplash\ 4.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  width: 100%;
  min-height: 964px;
  margin-top: -119px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  gap: 72px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 48px;
}
.call-to-action h1 {
  font-family: "Lora", serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 100px;
  white-space: pre-line;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
.call-to-action span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
.call-to-action .btn {
  padding: 21px 110px;
}

.btn {
  background-color: #1ED400;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-direction: column;
  padding: 144px 0 124px 0;
}
.about h2 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 74px;
  text-transform: uppercase;
  color: #333333;
}
.about p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 32px;
  width: 70%;
  text-align: center;
  color: #333333;
  margin-bottom: 64px;
}
.about__items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: none;
  width: 100%;
}
.about__items-el {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-direction: column;
  width: 100%;
}
.about__items-el span {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: 190px;
  color: #1ED400;
}
.about__items-el svg {
  margin-top: -102px;
}
.about__items-el p {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #333333;
  margin-bottom: 0;
}

.trip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-direction: column;
  background-image: url(../Images/ken-cheung-VbLTNceBTFE-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  min-height: 758px;
}
.trip h2 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 74px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}
.trip h1 {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: 144px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 16px;
}
.trip__date {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 32px;
}
.trip p {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 56px;
  width: 65%;
  margin-bottom: 16px;
}
.trip svg {
  margin-bottom: 40px;
}
.trip__discount {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.trip .btn {
  padding: 19px 49px;
}

.ways {
  padding: 124px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  min-height: 650px;
}
.ways h2 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 74px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
}
.ways .btn {
  padding: 19px 62px;
  margin-bottom: 8px;
}
.ways p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #333333;
  margin-bottom: 8px;
}
.ways__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 50px;
}
.ways__pic-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
.ways__pic-img span {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: #FFFFFF;
  padding: 5px 8px;
  margin-top: 15px;
}

.travel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-direction: column;
  background-image: url(../Images/jeremy-bishop-TI_3eaoMyjo-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(30, 212, 0, 0.4);
  width: 100%;
  min-width: 100%;
  min-height: 560px;
  margin-top: 72px;
}
.travel__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
.travel__pic-img1 {
  background-image: url(../Images/photo-1500108870510-66db24a39ee4\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 441px;
  min-height: 294px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
.travel__pic-img1 span {
  color: #FFFFFF;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 7px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.travel__pic-img1 svg {
  margin-top: 130px;
  margin-left: 55px;
}
.travel__pic-img2 {
  background-image: url(../Images/artem-beliaikin-gBXX7odcoy0-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 514px;
  min-height: 342px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
.travel__pic-img2 span {
  color: #FFFFFF;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 7px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.travel__pic-img2 svg {
  margin-top: 160px;
  margin-left: 70px;
}
.travel__pic-img3 {
  background-image: url(../Images/v2osk-WNS__aBJjl4-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 441px;
  min-height: 294px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: none;
}
.travel__pic-img3 span {
  color: #FFFFFF;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 7px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.travel__pic-img3 svg {
  margin-top: 130px;
  margin-left: 20px;
}
.travel h2 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 74px;
  text-transform: uppercase;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}

.footer {
  background: url(../Images/imgMountains\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: none;
}
.footer__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
}
.footer .nav__item-link {
  color: #000000;
}
.footer .socials__item-link svg path {
  fill: #000000;
}
.footer .socials__item-link svg rect {
  fill: #000000;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.nav__item-link {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}/*# sourceMappingURL=style.css.map */